.none {
    display: none;
}

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

address, cite, dfn, em, var {
    font-style: normal;
}

code, kbd, pre, samp {
    font-family: couriernew, courier, monospace;
}

small {
    font-size: 12px;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

legend {
    color: #000;
}

fieldset, img {
    border: 0;
}

button, input, select, textarea {
    font-size: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.form-input {
    height: 30px;
    width: 100%;
    padding: 0 5px;
    color: #617083;
    font-size: 14px;
    box-sizing: border-box;
    border: 1px solid #dcdcdc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    transition: 0.42s;
}

.form-input:hover {
    border-color: #bfbfbf;
    box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset;
}

.form-input:focus {
    border-color: #37a8e0;
}

.form-textarea:hover {
    box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset;
    border-color: rgb(191, 191, 191);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-textarea {
    border: 1px solid #dcdcdc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    vertical-align: text-top;
    font-size: 14px;
    color: #617083;
    padding: 5px;
    width: 100%;
    /*resize:none*/
}
.nav-bootstarp>li>a {
    background-color: #f3f4f4 !important;
    margin-right: 2px;
    color: #586b82 !important;
    border: 1px solid #d6dbe6;
    padding:9px 15px;
}
.nav-bootstarp>li.active>a{
    color: #37a8e0 !important;
    background-color: #fff !important;
    border-top-color:#37a8e0 !important;
}
.nav-bootstarp>li>a:hover{
    border: 1px solid #d6dbe6;
    background-color: #f1f5f9 !important;
}
.nav-bootstarp>li.active>a:hover{
    background-color: #fff !important;
}
.nav-bootstarp2>li.active>a{
    color: #37a8e0 !important;
}
.nav-bootstarp2>li>a{
    margin-right: 2px;
    color: #586b82;
}

/***********face********************/
.topoChooseArea {
    height: 35px;
    background: #f8f8f8;
    position: absolute;
    top: 0px;
    width:80%;
    right:0;
    z-index: 1;
    border-bottom: 1px solid #dad9d9;
}
.topoChooseArea ul li{
    float: left;
    height: 35px;
    line-height: 37px;
    font-size:12px;
    padding:0 22px;
    cursor: pointer;
}
.topoChooseArea ul li a{
   text-decoration: none;
    color: #555555;
}
.topoChooseArea ul li.active{
    padding:0 25px;
    background:url('./images/toptab.jpg') no-repeat left bottom;
}
.topoChooseArea ul li i{
    font-size: 20px;
    color: #9e9d9d;
    cursor: pointer;
    position: relative;
    top: 2px;
    margin-left: 5px;
}
.topoChooseArea .topuAdd-tab{
    background:url('./images/smallpng.png') no-repeat -2px 0px;
    display: inline-block;
    width: 25px;
    margin-top:6px;
    cursor: pointer;
    height: 25px;
}
.q-panel {
    position: relative;
    border-radius: 5px;
    /* border: solid 1px #DDD; */
}

.q-toolbar {
    padding: 5px;
    border-radius: 4px 4px 0 0;
    background-color: #ffffff;
}

.q-panel .q-toolbar {
    position: absolute;
    top: 40px;
    height: 40px;
    right:0;
    width: 80%;
    z-index: 1;
}

.q-panel .q-content {
    height: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    position: relative;
}

.jtp-main {
    background-color: transparent;
    font-family: Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 1500px;
    position: relative;
    top: 60px;
}

#graph_panel {
    height: 650px;
    overflow: hidden;
}

/***********toolbar******************************/
#toolbar {
    float: left;
    height: 30px;
}

#toolbar .searchArea {
    display: inline-block;
    vertical-align: middle;
    width: 130px;
}

#toolbar .btn,
#toolbar .btn-group {
    margin-right: 5px;
    border-radius:3px;
}

#toolbar .btn-group .btn {
    margin: 0px -1px;
    border:none;
}
#toolbar .btn-group .btn:first-child,#toolbar .btn-group .btn:last-child{
    margin: 0px;
}

#toolbar .btn, #toolbar .btn-group {
    margin-right: 5px;
    border:1px solid #ccc;
}

#toolbar .groupWrap {

}

#toolbar .groupWrap .group {
    color: red;
}

.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 0;
}

.btn-group > .btn:first-child {
    margin-left: 0;
}

.toolbar-default {
    background-position: -28px -5px;
    width: 16px;
    height: 16px;
}

.q-icon {
    background-image: url('./images/smallpng.png');
    background-repeat: no-repeat no-repeat;
    margin: 1px 0px;
    width: 16px;
    height: 16px;
}

.toolbar-setBorder {
    background-position: -247px -59px;
    width: 16px;
    height: 16px;
}
.toolbar-select{
    background-position: -56px -3px;
}
.toolbar-pan {
    background-position: -222px -60px;
}

.toolbar-zoomin {
    background-position: -79px -3px;
}

.toolbar-zoomout {
    background-position: -104px -5px;
}

.toolbar-zoomreset {
    background-position: -136px -5px;
}

.toolbar-center {
    background-position: -161px -2px;
}

.toolbar-overview {
    background-position: -188px 0px;
}
.toolbar-solid{
    background-position: -215px -2px;
}
.toolbar-dashed{
    background-position: -243px 0px;
}
.toolbar-curve{
    background-position: -195px -59px;
}
.toolbar-arrow{
    background-position: -163px -62px;
}
.toolbar-dArrow{
    background-position: -127px -62px;
    width:20px;
}
.toolbar-flexional{
    background-position: -98px -62px;
}
.toolbar-flow{
    background-position: -67px -62px;
}
.toolbar-eyes{
    background-position: -31px -62px;
}
.toolbar-backOff{
    background-position: -1px -60px;
}
.toolbar-forward{
    background-position: -246px -27px;
}
.toolbar-save{
    background-position: -216px -28px;
}

.toolbar-edge_VH {
    background-position: -111px 0px;
    width: 16px;
    height: 16px;
}

.toolbar-polygon {
    background-position: -277px 0px;
    width: 16px;
    height: 16px;
}

.toolbar-line {
    background-position: -185px 0px;
    width: 16px;
    height: 16px;
}

.toolbar-search i{
    color: #4fa4da;
    font-size:14px;
}

.toolbar-print {
    background-position: -296px 0px;
    width: 16px;
    height: 16px;
}

.toolbar-json {
    background-position: -166px 0px;
    width: 16px;
    height: 16px;
}

.toolbar-max {
    background-position: -203px 0px;
    width: 16px;
    height: 16px;
}

/********************equipmentArea*********************/
#equipmentArea {
    width: 20%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-right:6px solid #fff;
}

.dragTag {
    width: 50px;
    height: 50px;
    z-index: 10;
    margin-top: 10px;
    margin-left: 5px;
    float: left;
    background-position: right center !important;
    position: relative;
}
.dragTag .dragNodeName{
    font-size: 12px;
    position: absolute;
    width: 52px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    bottom: -13px;
    left: 0;
    text-align: center;
}

.dragTag.iconType1 {
    background: url("./images/iconType1.jpg") no-repeat 100% 100%;
}

.dragTag.iconType2 {
    background: url("./images/iconType2.jpg") no-repeat 100% 100%;
}

.dragTag.iconType3 {
    background: url("./images/iconType3.jpg") no-repeat;
}

.dragTag.iconType4 {
    background: url("./images/iconType4.jpg") no-repeat;
    background-size: 100%;
}

/********************canvas*********************/
#canvas {
    float: right;
    background: url("./images/topobg.png") repeat;
    border-top: 1px solid #E7E7E7;
    margin-top: 80px;
}

.contextmenu {
    border: 1px solid #ddd;
    border-bottom: 0;
    background: #f8fafb;
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    min-width: 100px;
}

.contextmenu li {

    padding: 5px 10px;

    border-bottom: 1px solid #dddddd;

    cursor: pointer;
    transition: all .3s;
}

.contextmenu li:hover {
    background: white;
}

.contextmenu li a {

    color: black;

    text-decoration: none;
}

.topology-container-fullscreen {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99999999;
}

.titleDiv {
    width: 200px;
    height: 50px;
    border: 1px solid black;
    background: white;
    text-align: center;
    position: absolute;
    display: none;
    z-index: 10;
}

/************dropdown**************/

#equipmentArea .dropdown-submenu {
    position: relative;
}

#equipmentArea .dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

#equipmentArea .dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

#equipmentArea .dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

#equipmentArea .dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}

#equipmentArea .dropdown-submenu.pull-left {
    float: none;
}

#equipmentArea .dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

#equipmentArea .dropdown {
    width: 100%;
}

#equipmentArea .dropdown > a {
    width: 100%;
    border-radius: 0;
    background: inherit;
    border: none;
    color: black;
    border-bottom: 1px solid #ddd;
}

#equipmentArea .dropdown > .dropdown-menu {
    width: 100%;
}

#equipmentArea #treeArea {
    height: 215px;
    margin-bottom:10px;
    box-shadow: 0px 0px 7px #b7b6b6;
}

#equipmentArea #treeArea .title {
    height: 35px;
    border-bottom:1px solid #d5e0e6;
    color: #333;
    line-height: 35px;
    background: #f0f4f9;
}
#equipmentArea #treeArea .title i{
    color: #b3baca;
    padding:0 10px;
}
#equipmentArea #treeArea .title i.fa-search{
    float: right;
    margin-top: 10px;
    cursor: pointer;
}

#equipmentArea #treeArea .treeContainer {
    height: 180px;
    overflow-y: auto;
    background: #f8f8f8;
}

#equipmentArea #iconArea .title {
    height: 35px;
    text-align: center;
    line-height: 35px;
    background: #f0f4f9;
}
#equipmentArea #iconArea .iconTitle {
    height:100%;
    width: 80%;
    float: left;
}
#equipmentArea #iconArea .iconTitle li{
     float:left;
     text-align:center;
     width: 50%;
     cursor: pointer;
}
#equipmentArea #iconArea{
    background: #f8f8f8;
    box-shadow: 0px 0px 7px #b7b6b6;
}
#equipmentArea #iconArea .iconTitle li.active{
    border-bottom: 2px solid #51a4da;
    color: #51a4da;
}
#equipmentArea #iconArea .iconContainer {
    overflow-y: auto;
    background: #f8f8f8;
    border-top: 1px solid #d5e0e6;
    width: 100%;
}
#equipmentArea #iconArea .title div i.fa-search{
    float: right;
    padding:10px;
    color: #b3baca;
    cursor: pointer;
}
#equipmentArea #iconArea .entityIconTag {
    min-height: 400px;
}
#equipmentArea #iconArea .basicIconTag {
    min-height: 400px;
}
/*弹窗部分样式开始*/
.TopujumpDiv {
    width: 28%;
    transition: 0.3s;
    position: absolute;
    right: 10px;
    top: 90px;
    background: #fff;
    box-shadow: -1px 1px 8px #bdbdbd;
}
.TopujumpDiv .TopujumpTitle {
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    color: #333333;
    background: #f0f4f9;
}

.TopujumpDiv .TopujumpTitle .TopujumpTitleUl {
    list-style: none;
    margin: 0;
    padding: 0;
}

.TopujumpDiv .TopujumpTitle .TopujumpTitleUl li {
    display: block;
    float: left;
    width: 80%;
    height: 40px;
}

.TopujumpDiv .TopujumpTitle .TopujumpTitleUl li:first-child {
    width: 10%;
    font-size: 20px;
    color: #9ea2a5;
}

.TopujumpDiv .TopujumpTitle .TopujumpTitleUl li:last-child {
    width: 10%;
    text-align: right;
    color: #9ea2a5;
    cursor: pointer;
}

.TopujumpBody {
    padding: 20px;
    max-height: 500px;
    overflow: auto;
}

.TopujumpBody label {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 16px;
    font-size: 12px;
    color: #555555;
    font-weight: 700;
}

.TopujumpBody .TopujumpLine:first-child label {
    margin-top: 0px;
}
.TopujumpBody label span {
    color: #f18609;
    padding: 0 10px;
}

.TopujumpBody .TopujumpLineDiv .TopujumpLineDiv_div {
    float: left;
    position: relative;
    width: 50%;
}

.TopujumpLineDiv_div_icon {
    position: absolute;
    top: 0;
    width: 35px;
    height: 24px;
    background: url('./images/smallpng.png') no-repeat -96px -27px;
}
.TopujumpColony .TopujumpColony_title ,.TopujumpServer .TopujumpBody .nav-bootstarp{
    color: #555555;
    font-size: 14px;
}
.TopujumpColony .TopujumpBody .nav-bootstarp,.TopujumpServer .TopujumpBody .nav-bootstarp{
    margin-top:16px;
}
/*弹窗部分样式结束*/

table.jambo_table {
    border: 1px solid rgba(221, 221, 221, 0.78);
}
.table.jambo_table thead {
    background: #f4f4f4;
    color: #333333;
    font-weight: bold;
}
.table.jambo_table thead {
    background: #f4f4f4;
    color: #333333;
    font-weight: bold;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    font-size: 12px;
    padding: 6px;
}
td.td-autocut {
    border-right:1px solid #ddd;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -icab-text-overflow: ellipsis;
    -khtml-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
}
td {
    word-break: break-all;
}
.table.jambo_table thead {
    background: #f4f4f4;
    color: #333333;
    font-weight: bold;
}
.table.jambo_table>tbody>tr:hover {
    background-color: #ecf6fe;
}
.tab-content{
    margin-top:16px;
}
.btn-save:hover {
    background-color: #299dd7;
    color: #ffffff;
}
.btn-save {
    background-color: #37a8e0;
    display: inline-block;
    color: #ffffff;
    padding: 5px 15px;
    border: none;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
}
.no-margin{
    margin:0;
}
